# builds and gradle
.classpath
*.hprof
.gradle/
build


*.DS_Store
.DS_Store

android-app/build


# IDE files
*.iml
.settings/
.idea/
.project
android-app/.project
android-app/*.iml

# This file contains your sensitive information. Do **NOT** push it in your CVS.
local.properties
